---
import { CollectionEntry, getCollection } from "astro:content";
import BlogPost from "../../layouts/BlogPost.astro";
import Toc from "./toc";

export async function getStaticPaths() {
	const posts = await getCollection("blog");
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content, headings } = await post.render();
---

<BlogPost {...post.data}>
	<h1>{post.data.title}</h1>
	<div class="flex items-start  max-w-screen-xl mx-auto">
		<Toc client:load headings={headings} />
		<article>
			<Content />
		</article>
	</div>
</BlogPost>
