---
import HeaderLink from "./HeaderLink.astro";
import ThemeSwitch from "./ThemeSwitch.tsx";
---

<header>
	<div class="flex justify-between">
		<nav>
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
			<HeaderLink
				href="https://github.com/Deuscx/inori"
				target="_blank"
			>
				GitHub
			</HeaderLink>
			<HeaderLink
				href="https://deuscx.github.io/inori/rss.xml"
				target="_blank"
			>
				RSS
			</HeaderLink>
		</nav>
		<div>
			<ThemeSwitch client:only="react" />
		</div>
	</div>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
