---
import { SITE_BASE } from '../consts';

export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;

const fullHref = (href as string)!.startsWith('http') ? href :  (SITE_BASE + href).replace('//', '/')
const { pathname } = Astro.url;
const isActive = fullHref === pathname || fullHref === pathname.replace(/\/$/, '');
---

<a href={fullHref} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		text-decoration: none !important;
	}
	a.active {
		font-weight: bolder;
	}
</style>
